      <div class="ui very relaxed list">
        {% for entry in entries -%}
        <div class="item">
          <div class="header" id="{{entry.key}}">
            {{ entry|title }}
            <a href="#{{entry.key}}"><i class="linkify icon"></i></a>
          </div>
          <div class="description">
            {{ entry.persons['author']|author_list }}. {{ entry|venue_type}} {{ entry|venue }}, {{ entry.fields['month'] }} {{ entry.fields['year'] }}.
          {% for type, url in (entry|extra_urls).items() -%}
            |
          <a href="{{url | escape}}" target="_blank">
            {{ type | escape }}
          </a>

          <!-- <a class="ui primary label" href="{{url | escape}}" target="_blank">
               <i class="newspaper icon"></i>
               {{type.title()}}
               </a> -->
          {% endfor -%}
          {% if entry.fields.award -%}
          | <em>{{entry.fields.award}}</em>
          <div class="ui primary label">
            <i class="award icon"></i>
            Award
          </div>
          {% endif -%}
          </div><!-- / description -->
        </div><!-- /item -->

        {% endfor -%}
      </div><!-- ui list -->
