---
layout: default
title: Blog | Andrew DeOrio
---

{% for post in site.posts %}
<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}<br>
  {% if post.thumbnail %}
	<img src="{{ post.thumbnail }}" style="height: 100px; float:left; padding-right:1em" align="center" />
	{% endif %}
</a>
  {{ post.excerpt | strip_html | truncatewords:50}}
  <br style="clear: both;" />
  <br>
{% endfor %}

<p>
<a href="/blog/atom.xml">
<img src="/assets/rss-256.png" height="20px" style="margin:"5px">
Subscribe
</a>
</p>
